
html { 
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    height: 100%;
    background-color: #1F1C2C;
    position: relative;
}

.vector-1{
    position: absolute;
    right: 0;
}

.header{
    position: relative;
}

h1{
    color: aliceblue;
    font-size: 50px;
    padding-top: 2rem;
    padding-left: 2rem;
    display: flex;
    position: relative;
}

.main{
    color: #e5e5e5;
    font-size: 32px;
    margin-left: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.info-content {
    z-index: 3;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: auto auto;
}

.main p{
    font-size:  32px;
    padding-top: 2rem;
    position: relative;
    z-index: 3;
}

span{
    color: #f1a600;
}

 
.mifoto{
  width: 300px;
  height: 300px;
  position: relative;
  right: 3rem;
  z-index: 2;
}

.redes{
    font-size: 24px;
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.about-me{
    background-color: #242635;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
}

h2{
    padding: 1rem;
    font-size: 32px;
    color: #e5e5e5;
    text-align: center;
}

.about-me p{
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

.logos{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;

}

.logouvm{
    padding-top: 4rem;
    margin-left: 4rem;
    display: relative;
}

.logouvm p{
    padding-top: 1rem;
    margin-right: 4rem;
    font-size: 18px;
    text-align: center;
    margin-left: 1rem;
    
}

.logoacademlo{
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-left: 2rem;
    display: relative;
}

.logoacademlo p{
    padding-top: 1rem;
    margin-right: 4rem;
    text-align: center;
    font-size: 18px;
    margin-left: 2rem;
}

h3{
    margin-top: 1rem;
    font-size: 32px;
    color: #e5e5e5;
    text-align: center;
}

.vector-2{
    position: absolute;
    right: 3rem;
    top: 4rem;
}

.experience{
    background-color: #1F1C2C;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    position: relative;
}

.grid-exp{
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto auto;
    color: #ffffff;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 18px;
}

.habilities h2{
    z-index: 3;
    margin-top: 1rem;
    font-size: 32px;
    color: #e5e5e5;
    text-align: center;
    position: relative;
    padding: 2rem;
}

.habilities{
    background-color: #1F1C2C;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    font-size: 32px;
}

.habilities ul{
    display: grid;
    grid-template-columns: auto auto;
    color: #ffffff;
    position: relative;
    list-style: none;
    justify-content: center;
    gap: 3rem;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2rem;
    font-size: 18px;
 }

 .por1{
     color: #f1a600;
     font-size: 32px;
 }

 .por2{
    color: #f1a600;
    font-size: 32px;
}

.por3{
    color: #f1a600;
    font-size: 32px;
}

.por4{
    color: #f1a600;
    font-size: 32px;
}

.por5{
    color: #f1a600;
    font-size: 32px;
}
.vector-3{
    position: absolute;
}

.vector-4{
    position: absolute;
    visibility: hidden;
}

.portafolio h2{
    z-index: 3;
    margin-top: 1rem;
    font-size: 32px;
    color: #e5e5e5;
    text-align: center;
    position: relative;
    padding: 2rem;
}

.portafolio{
    background-color: #1F1C2C;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 2rem;
    font-size: 32px;
    
}

.portafolio ul{
    color: #ffffff;
    font-size: 18px;
    position: relative;
    list-style: none;
    font-weight: 600;
    z-index: 3;
}

.imagen-1{
    width: 250px;
    height: 200px;
}

.img2{
    margin-left: 14rem;
}

.imagen-2{
    width: 250px;
    height: 200px;
}

.imagen-3{
    width: 250px;
    height: 200px;

}

.portafolio ul li{
    padding: 2rem;
    font-size: 18px;
}

.cosa1{
    position: absolute;
    background-color: #f1a600;
    width: 290px;
    height: 200px;
    z-index: 1;
    margin-top: 9rem;
    margin-left: 1rem;
}

.cosa2{
    position: absolute;
    background-color:  #242635;
    width: 290px;
    height: 210px;
    z-index: 1;
    margin-left: 15rem;
    margin-top: 26rem;
}

.cosa3{
    position: absolute;
    background-color: #f1a600;
    width: 290px;
    height: 200px;
    z-index: 1;
    margin-top: 45rem;
    margin-left: 1rem;
}

.contacto h2{
    font-size: 32px;
    color: #e5e5e5;
    text-align: center;
    position: relative;
    padding: 1rem;
}

.contacto{
    background-color: #242635;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 1rem;
    font-size: 32px;
    
}

.contacto ul{
    list-style: none;
    font-size: 18px;
    position: relative;
}

.cel{
    margin-top: 1rem;
    margin-right: 14rem;
    text-align: center;
}

.gmail{
    text-align: center;
    margin-left: 14rem;
}

.imgcel{
    padding: 1rem;
}

.imgmail{
    padding: 1rem;
}

.academlo{
    background-color: #1F1C2C;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 1rem;
    font-size: 14px;
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    padding: .5rem 1.25rem;
    background-color: #1F1C2C;
    height: 55px;
    width: auto;
    position: relative;
    z-index: 3;
}

input#Menu-hamburguesa{
    visibility: hidden;
}

input#Menu-hamburguesa ~ ul{
    list-style: none;
    position: absolute;
    width: 100%;
    height: calc( 100vh - 55px );
    top: 55px;
    right: 100%;
    transition: all 300ms linear;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input#Menu-hamburguesa:checked ~ ul{
    right: 0;
}   

.navbar > ul > li > a{
    color: #ffffff;
    text-decoration: none;
    padding: .5rem 1rem;
    transition: border-color .3s;
}

.navbar > ul > li > a:hover{
    color: #f1a600;
}

@media only screen and (min-width: 600px){
    label{
        display: none;
    }
    input#Menu-hamburguesa ~ ul{
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
    }

    nav > ul > li{
        display: inline-block;
    }

    h1 {
        font-size: 150px;
        margin-left: 7rem;
    }

    main p{
        font-size: 50px;
        display: flex;
        margin-left: 7rem;
    }

    .redes{
        justify-content: center;
        margin-right: 22rem;
    }

    .redes img{
        padding: 1rem;
    }

    .mifoto{
        width: 350px;
        height: 350px;
        right: 10rem;
    }
    h2{
        display: flex;
        font-size: 50px;
        margin-top: 1rem;
        justify-content: center;
    }

    .about-me p{
        padding: 1rem;
        margin-left: 20%;
        margin-right: 20%;
    }
    .logouvm{
        position: relative;
        left: 5rem;
    }

    .logouvm p{
        position: relative;
        font-size: 11px;
    }

    .logoacademlo{
        position: relative;
        right: 8rem;
    }

    .logoacademlo p{
        position: relative;
        font-size: 12px;
    }

    h3{
        display: flex;
        font-size: 50px;
        margin-top: 1rem;
        justify-content: center;
    }

    .grid-exp{
        margin-right: 20%;
        margin-left: 20%;
    }

    .vector-2{
        right: 14rem;
        margin-top: 2rem;
    }

    .habilities{
        font-weight: 600;
        width: 100vw;
    }

    .habilities h2{
        display: flex;
        font-size: 50px;
        margin-top: 1rem;
        right: 6rem;
    }

    .habilities ul{
        font-size: 18px;
        font-size: 20px;
    }
    
    .vector-3{
        visibility: hidden;
    }
    
    .vector-4{
        visibility: visible;
    }

    .portafolio h2{
        font-size: 50px;
    }

    .portafolio{
        margin-right: 20%;
        font-size: 18px;
        width: 100vw;
    }
    
    .img1{
        margin-left: 9rem;
    }

    .img2{
        margin-left: 38rem;
    }

    .img3{
        margin-left: 9rem;
    }

    .cosa1{
        margin-left: 9.5rem;
        margin-top: 10rem;
        
    }

    .cosa2{
        margin-left: 38.5rem;
        margin-top: 28rem;
        
    }

    .cosa3{
        margin-left: 9.5rem;
        margin-top:  46rem;
    }

    .contacto{
        width: 100vw;
    }

    .academlo{
        width: 100vw;
    }

}